<% provide(:header_display, true) %>

<% flash.each do |message_type, message| %>
  <% if message_type != "autohide" %>
    <%= content_tag(:div, message, class: "alert alert-#{message_type} mb-0") %>
  <% end %>
<% end %>

<div class="bg-light">
  <div class="d-flex flex-column">
    <div class="text-center my-4">
      <h1 class="heading-text">ランニングの思い出を残そう</h1>
      <%= link_to("ルート作成を開始する", routes_url, class: "btn btn-danger btn-lg", style: "font-weight: bold; font-size: 22px;") %>
    </div>

    <div class="instruction-container">
      <div class="image-container">
        <div class="caption">ルート作成〜ルート保存</div>
        <%# WebKitにおける動画の挙動の制御がうまくできなかったので、gif画像とする %>
        <%# autoplayにはせずに'turbo:load'イベント内（application.js）にて再生する(iOSだとTurboの影響で再生されないのため。（リロードすれば再生はされる）) %>
        <%# <video class="video" autoplay loop muted playsinline> %>
        <%# <video class="video" loop muted playsinline>
          <source src="/assets/introduction_route_create.mp4" type="video/mp4">
        </video> %>
        <%= image_tag("introduction_route_create.gif") %>

        <div class="caption">ルート表示・非表示</div>
        <%# <video class="video" autoplay loop muted playsinline> %>
        <%# <video class="video" loop muted playsinline>
          <source src="/assets/introduction_route_display.mp4" type="video/mp4">
        </video> %>
        <%= image_tag("introduction_route_display.gif") %>
      </div>
      
      <div class="instruction" style="border-top: 1px solid #ddd;">
        <%# 各プラットフォームへのリンク %>
        <div class="d-flex justify-content-evenly my-4">
          <%#= link_to "/", target: "_blank", rel: "noopener noreferrer", class: "btn btn-default btn-browser" do %>
            <%#= image_tag("browser-chrome.svg") %>
            <%# <span>ブラウザ版</span> %>
          <%# end %>

          <%= link_to "/", class: "disable-click" do %>
            <%= image_tag("app_store.png", style: "height:40px;") %>
          <% end %>

          <%= link_to "/", class: "disable-click" do %>
            <%= image_tag("google_play.png", style: "height:40px;") %>
          <% end %>
        </div>

        <h2>基本操作</h2>
        <p>ルート作成</p>
        <ul>
          <li>「新しいルート」ボタンをクリックして新規ルートを作成</li>
          <li>マップ上にマーカーを追加して、ルートを作成</li>
          <li>「保存」ボタンをクリック</li>
        </ul>

        <h2>操作方法</h2>
        <p>マーカーを追加</p>
        <ul>
          <li>「追加」ボタンをクリック（「切替」ボタンで切り替え）</li>
          <li>or マップ上をクリック</li>
        </ul>

        <p>マーカーを移動</p>
        <ul>
          <li>マーカーをドラッグ</li>
        </ul>

        <p>ルート線上にマーカーを追加</p>
        <ul>
          <li>画面中心にルート線上を合わせて、「ルート上追加」ボタンをクリック（「切替」ボタンで切り替え）</li>
          <li>
            <p>PC</p>
            <ul>
              <li>ルート線上を右クリック</li>
            </ul>
          </li>
          <li>
            <p>スマホ</p>
            <ul>
              <li>ルート線上をロングタップ</li>
            </ul>
          </li>
        </ul>

        <p>マーカーを削除</p>
        <ul>
          <li>画面中心にマーカーを合わせて、「削除」ボタンをクリック（「切替」ボタンで切り替え）</li>
          <li>
            <p>PC</p>
            <ul>
              <li>マーカーを右クリック</li>
            </ul>
          </li>
          <li>
            <p>スマホ</p>
            <ul>
              <li>マーカーをロングタップ</li>
            </ul>
          </li>
        </ul>

        <p>「追加」、「ルート上追加」、「削除」ボタンを切替</p>
        <ul>
          <li>「切替」ボタンをクリック</li>
        </ul>

        <p>１つ操作を戻す</p>
        <ul>
          <li>「１つ戻す」ボタンをクリック</li>
        </ul>

        <p>全ての操作をクリア</p>
        <ul>
          <li>「クリア」ボタンをクリック</li>
        </ul>

        <p>作成したルートを保存</p>
        <ul>
          <li>「保存」ボタンをクリック</li>
        </ul>

        <h2>その他</h2>
        <p>保存データについて</p>
        <ul>
          <li>作成したルート情報を永続的に保存するにはアカウントを作成してログインしてください。</li>
          <li>未ログイン状態においてもルート情報は保持されますが、Cookie情報の削除等でルート情報が削除される可能性があります。</li>
        </ul>
        <p>ルート数とルート地点数の上限について</p>
        <ul>
          <li>ルート数の上限：１０ルートまで</li>
          <li>ルート地点数の上限：１００地点まで</li>
        </ul>
      </div>
    </div>
  </div>

  <% if logged_in? %>
    <div class="account-destroy">
      <%= link_to "アカウントの削除はこちら", account_destroy_path, data: { turbo_method: :delete, turbo_confirm: "アカウントを削除します。\nアカウント情報、ルート情報の全てのデータが削除され復元はできません。よろしいですか？" }, style: "color:#000000" %>
      <small>アカウント情報、ルート情報の全てのデータが削除され復元はできません。</small>
    </div>
  <% end %>

  <div class="copyright" style="border-top: 1px solid #ddd;">
    <small>Copyright <%= Date.today.year.to_s %> Simgonsoft <%= link_to "プライバシーポリシー", privacypolicy_path, style: "color:#000000" %></small>
  </div>
</div>
