<%# provide(:title, "Forgot password") %>
<% provide(:header_display, true) %>

<div class="container mt-4">
  <h1>パスワードを再設定</h1>

  <%= render "modal", title: "パスワード再設定" do %>

    <div class="row justify-content-center">
      <div class="col-md-6">
        <% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
        <% end %>

        <%= form_with(url: password_resets_path, scope: :password_reset) do |f| %>
          <%= f.label :email, "メールアドレス" %>
          <%= f.email_field :email, class: 'form-control' %>

          <%= f.submit "送信", class: "btn btn-primary", style: "margin-top: 15px;" %>
        <% end %>
      </div>
    </div>

    <%# data-controller="created_password_reset"経由で更新 %>
    <div id="created_password_reset"></div>
  <% end %>

</div>
