<%# provide(:title, "Forgot password") %>
<% provide(:header_display, true) %>

<% flash.each do |message_type, message| %>
  <%= content_tag(:div, message, class: "alert alert-#{message_type}", style: "margin-bottom: 0;") %>
<% end %>

<div class="container mt-4">
  <h1>パスワードを再設定</h1>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= form_with(url: password_resets_path, scope: :password_reset) do |f| %>
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.submit "送信", class: "btn btn-primary", style: "margin-top: 15px;" %>
      <% end %>
    </div>
  </div>
</div>
