<%# オプション開閉ボタン %>
<div id="options-btn" data-routes-target="optionsBtn" data-bs-toggle="collapse" data-bs-target="#options-menu" aria-controls="options-menu" aria-expanded="false" aria-label="オプションの切替">
  <span id="logo-icon"><%= image_tag("icon.png") %></span>
  <span id="app-name">ランニング・メモリアル</span>
  <span id="options-icon"><%= image_tag("three-dots.svg") %></span>
</div>

<%# オプションメニュー %>
<ul id="options-menu" class="collapse" data-routes-target="optionsMenu">
  <%# セッションユーザーID設定 %>
  <% if @user.allow_session_user_id_setting %>
  <li>
    <%= form_with(model: @user) do |f| %>
      <div class="options-item">
        <span class="option-item"><%= image_tag("person-up.svg", alt: "person-up") %></span>
        <span class="option-item-margin"></span>
        <span class="option-item w-100">
          <%= f.text_field :changed_user_token, class: "form-control" %>
        </span>
        <span class="option-item">
          <%= button_tag(type: "submit", class: "submit-icon", style: "margin-left: 5px;") do %>
            <%= image_tag("check.svg", alt: "check", style: "width: 24px;") %>
          <% end %>
        </span>
        <%= f.hidden_field :id %>
      </div>
    <% end %>
  </li>
  <% end %>
  <%# 設定 %>
  <li>
    <%= link_to '#', 'data-bs-toggle': 'modal', 'data-bs-target': '#settingModal' do %>
      <div class="options-item">
        <span class="option-item text-center" style="width:25px;"><%= image_tag("gear.svg", alt: "house") %></span>
        <span class="option-item-margin"></span>
        <span class="option-item">設定</span>
      </div>
    <% end %>
  </li>
  <%# ホーム %>
  <li id="home">
    <%#= link_to "/", onclick: "location.href='/'" do %>
    <%= link_to(root_path) do %>
      <div class="options-item">
        <span class="option-item text-center" style="width:25px;"><%= image_tag("house.svg", alt: "house") %></span>
        <span class="option-item-margin"></span>
        <span class="option-item">ホーム</span>
      </div>
    <% end %>
  </li>
  <hr>
  <%# ログイン／ログアウト %>
  <li>
    <% if logged_in? %>
      <%= link_to logout_path, data: { "turbo-method": :delete } do %>
        <div class="options-item">
          <span class="option-item text-center" style="width:25px;"><%= image_tag("logout.svg", alt: "logout") %></span>
          <span class="option-item-margin"></span>
          <span class="option-item">ログアウト</span>
        </div>
      <% end %>
    <% else %>
      <%= link_to login_path, data: { turbo_frame: "modal_frame" } do %>
        <div class="options-item">
          <span class="option-item text-center" style="width:25px;"><%= image_tag("login.svg", alt: "login") %></span>
          <span class="option-item-margin"></span>
          <span class="option-item">ログイン</span>
        </div>
      <% end %>
    <% end %>
  </li>
</ul>
