<div id="<%= "route_item_#{route.id}" %>" class="route-item" data-action="click->routes#clickRouteItem" data-route-id="<%= route.id %>" data-visible="<%= route.visible %>">
  <%# ルート項目表示 %>
  <div class="route-display-container">
    <%# 並び替え用ドラッグハンドル %>
    <div><%= image_tag("line.svg", alt: "line", class: "drag-handle") %></div>

    <%# ルート項目（通常時／編集時） %>
    <div class="route-item-container">
      <%= render "route_item", route: route %>
    </div>
  </div>
</div>

