<%= turbo_frame_tag route do %>
<%#= turbo_frame_tag dom_id(route) do %>
<%#= turbo_frame_tag "route_#{route.id}" do %>
  <%# ルート項目 %>
  <div class="route-item-action">
    <%# ルート名 %>
    <div class="route-item-action_nm">
      <%# 未保存ラベル %>
      <span class="label-unsaved badge text-bg-danger me-1 d-none">未保存</span>
      <%# ルート名 %>
      <%= route.name %>
    </div>
    <%# ルート項目ボタン %>
    <div class="flex-container align-items-center" style="gap: 10px;">
      <%# 表示／非表示 %>
      <div class="action-icon eye-toggle" data-action="click->routes#clickEye">
        <%= image_tag("eye.svg", alt: "eye", class: "eye-icon") %>
        <%= image_tag("eye-slash.svg", alt: "eye-slash", class: "eye-slash-icon d-none") %>
        <%= image_tag("eye-fill.svg", alt: "eye-fill", class: "eye-fill-icon d-none") %>
      </div>
      <%# ルート機能メニュー %>
      <div>
        <%# メニュー開閉ボタン %>
        <div class="action-icon" data-action="click->routes#openRouteMenu" data-routes-target="routeMenuBtn">
          <%= image_tag("chevron-down.svg", alt: "chevron-down", id: "route-item-action-menu-btn#{route.id}") %>
        </div>
        <%# ルート機能 %>
        <ul id="<%= "route-item-action-menu#{route.id}" %>" class="route-item-action-menu d-none" data-routes-target="routeMenu">
          <%# 編集 %>
          <li>
            <%#
              スマホ画面においてボタン押下時にキーボードが表示するように対応
              単純にテキストをフォーカスしてもキーボードが表示されないため、Turbo Framesによる画面更新をやめる
              ボタンを非表示にして、テキストを表示・フォーカスするとキーボードが表示されるのでこちらで実装
            %>
            <%#= link_to edit_route_path(route), class: "action-icon" do %>
              <%#= image_tag("pencil.svg", alt: "pencil") %>
            <%# end%>
            <%= button_tag(type: "button", id: "btn-edit-route", class: "submit-icon", data: { action: "click->routes#clickEditRoute"}) do %>
              <%= image_tag("pencil.svg", alt: "pencil") %>
              <span>編集</span>
            <% end %>
          </li>
          <%# 削除 %>
          <li>
            <%= form_with(model: route, url: route_path(route), method: :delete) do |f| %>
              <%= button_tag(type: "submit", class: "submit-icon", data: { turbo_confirm: "削除します。よろしいですか？" } ) do %>
                <%= image_tag("trash.svg", alt: "trash") %>
                <span>削除</span>
              <% end %>
            <% end %>
          </li>
          <%# コピー %>
          <li>
            <%= form_with(model: route, url: "/routes/copy", method: :post) do |f| %>
              <%= f.hidden_field :id %>
              <%= button_tag(type: "submit", class: "submit-icon", data: { turbo_confirm: "コピーします。よろしいですか？" } ) do %>
                <%= image_tag("files.svg", alt: "files") %>
                <span>コピー</span>
              <% end %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <%# ルート項目（編集時） %>
  <div class="route-item-edit d-none">
    <%= turbo_frame_tag route do %>
      <%= form_with(model: route) do |f| %>
        <%= f.hidden_field :id, value: route.id %>
        <div class="flex-container">
          <%# ルート名 %>
          <%= f.text_field :name, class: "route-name-edit", style: "margin-right: 10px;" %>
          <div class="flex-container align-items-center" style="gap: 10px;">
            <%# 確定 %>
            <%= button_tag(type: "submit", class: "submit-icon") do %>
              <%= image_tag("check.svg", alt: "check") %>
            <% end %>
            <%# キャンセル %>
            <%#= link_to @route, class: "submit-icon" do %>
              <%#= image_tag("x.svg", alt: "x", id: "route-regist-cancel", style: "width: 24px;") %>
            <%# end %>
            <%= button_tag(type: "button", class: "submit-icon", data: { action: "click->routes#clickEditRouteCancel"}) do %>
              <%= image_tag("x.svg", alt: "x", style: "width: 12px;margin: 0 2px;") %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
