<div class="container-fluid" data-controller="routes">
  <div id="site-container" class="row" data-action="click->routes#clickDocument">
    <%# ーーーーーーー %>
    <%# サイドメニュー %>
    <%# ーーーーーーー %>
    <aside id="side-menu" class="col-sm-2">
      <%# ハンバーガーメニュー %>
      <div class="navbar-header">
        <button id="hamburger" type="button" class="navbar-toggle" data-action="click->routes#openHamburgerMenu">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <%# メニュー %>
      <div id="navbar-menu" class="collapse" data-routes-target="hamburgerMenu">
        <%# ルート登録 %>
        <section class="route-regist-container">
          <%# 新しいルートボタン %>
          <%= turbo_frame_tag "new_route" do %>
            <%= render "new_route" %>
          <% end %>
          <%# 登録ルートをdata-controller="created_route"経由でマップを更新する %>
          <div id="created_route"></div>
        </section>
        <%# ルート一覧 %>
        <section id="routes" class="route-items-container">
          <%= turbo_frame_tag "routes-list" do %>
            <%= render @routes %>
          <% end %>
          <%# 更新ルートをdata-controller="updated_route"経由でマップを更新する %>
          <div id="updated_route"></div>
          <%# 削除ルートをdata-controller="deleted_route"経由でマップを更新する %>
          <div id="deleted_route"></div>
          <%# コピールートをdata-controller="copied_route"経由でマップを更新する %>
          <div id="copied_route"></div>
        </section>
        <%# オプションメニュー %>
        <section id="options-container">
          <%= render "options_menu" %>
        </section>
      </div>
    </aside>
    <%# ーーーーー %>
    <%# マップ画面 %>
    <%# ーーーーー %>
    <div id="map-contents" class="col-sm-10">
      <%# マップ %>
      <div id="map"></div>
      <%# マップカーソル %>
      <div id="map-cursor" class="crosshair hidden"></div>
      <%# マップ操作ボタン一覧 %>
      <div id="map-board" class="map-board-disabled hidden">
        <div id="marker-container">
          <%# 保存 %>
          <%= map_button("保存", id: "save-marker", img_nm: "save.svg", data_action: "click->routes#saveMarker") %>
          <%# 切替 %>
          <%= map_button("切替", id: "switch-marker", img_nm: "arrow-repeat.svg", data_action: "click->routes#switchMarker") %>
          <%# 追加 %>
          <%= map_button("追加", id: "add-marker", img_nm: "plus-circle.svg", data_action: "click->routes#addMarker", large: true) %>
          <%# ルート上追加 %>
          <%= map_button("ルート上追加", id: "add-line-marker", img_nm: "node-plus.svg", data_action: "click->routes#addLineMarker", large: true, hidden: true) %>
          <%# 削除 %>
          <%= map_button("削除", id: "remove-marker", img_nm: "dash-circle.svg", data_action: "click->routes#removeMarker", large: true, hidden: true) %>
          <%# 1つ戻す %>
          <%= map_button("1つ戻す", id: "undo-marker", img_nm: "backspace.svg", data_action: "click->routes#undoMarker") %>
          <%# クリア %>
          <%= map_button("クリア", id: "clear-marker", img_nm: "eraser.svg", data_action: "click->routes#clearMarker") %>
        </div>
      </div>
    </div>
  </div>
</div>
