<% content_for :css do %>
  <%= stylesheet_link_tag 'routes', media: 'all' %>
<% end %>

<% content_for :js do %>
  <%# javascript_import_module_tag "custom/routes" %>
<% end %>

<div class="container-fluid" data-controller="routes">
  <div id="site-container" class="row" data-action="click->routes#clickDocument">
    <%# サイドメニュー %>
    <aside id="side-menu" class="col-sm-2">
      <%# ハンバーガーメニュー %>
      <div class="navbar-header">
        <button id="hamburger" type="button" class="navbar-toggle" data-action="click->routes#openHamburgerMenu">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <%# メニュー %>
      <div id="navbar-menu" class="collapse" data-routes-target="hamburgerMenu">
        <%# ルート登録 %>
        <section id="new-route">
          <%# 新しいルートボタン %>
          <button id="new-route-button" class="flat-button" data-action="click->routes#clickNewRouteButton">
            <%= image_tag("plus.svg", alt: "plus") %>
            新しいルート
          </button>
          <%# ルート入力 %>
          <div id="new-route-input" class="hidden">
          <%= form_with(model: @route) do |f| %>
            <div class="flex-container">
              <%# ルート名 %>
              <%= f.text_field :name, class: "form-control" %>
              <%= f.hidden_field :user_id %>
              <%# 確定 %>
              <%= button_tag(type: "submit", class: "icon-submit") do %>
                <%= image_tag("check.svg", alt: "check") %>
              <% end %>
              <%# キャンセル %>
              <%= button_tag(type: "button", class: "icon-submit", "data-action": "click->routes#clickNewRouteCancelButton") do %>
                <%= image_tag("x.svg", alt: "x", id: "new-route-cancel") %>
              <% end %>
            </div>
          <% end %>
          </div>
        </section>
        <%# ルート一覧 %>
        <section class="route-info" data-routes-target="routeInfo" data-action="scroll->routes#scrollRouteInfo">
          <ul id="routes-container" class="routes">
          <% @routes.each_with_index do |route, index| %>
            <li id="route-item<%= index %>" class="route-item" data-action="click->routes#clickRouteItem" data-route-id="<%= route.id %>" data-visible="<%= route.visible %>" > 
              <%# ルート名表示 %>
              <div class="route-detail">
                <%# ドラッグハンドル %>
                <div>
                  <%= image_tag("line.svg", alt: "line", class: "drag-handle") %>
                </div>
                <%# 未保存ラベル %>
                <span class="not-yet-save-label label label-danger hidden">未保存</span>
                <%# ルート名 %>
                <div class="route-name-container">
                  <%= route.name %>
                </div>
                <%# ルート編集ボタン一覧 %>
                <div class="route-buttons-container">
                  <%# 表示／非表示 %>
                  <%= link_to "javascript:void(0);", onclick: "return false;", class: "eye-toggle", "data-action": "click->routes#clickEye" do %>
                    <%= image_tag("eye.svg", alt: "eye", class: "eye-icon") %>
                    <%= image_tag("eye-slash.svg", alt: "eye-slash", class: "eye-slash-icon hidden") %>
                    <%= image_tag("eye-fill.svg", alt: "eye-fill", class: "eye-fill-icon hidden") %>
                  <% end %>
                  <%# 編集 %>
                  <%= link_to "javascript:void(0);", onclick: "return false;" do %>
                    <%= image_tag("pencil.svg", alt: "pencil", class: "edit-icon", "data-action": "click->routes#clickEditRoute") %>
                  <% end %>
                  <%# ルート機能メニュー %>
                  <div>
                    <ul id="route-menu" class="hidden" data-routes-target="routeMenu">
                      <%# 削除 %>
                      <li>
                        <%= link_to route, data: { "turbo-method": :delete, turbo_confirm: "削除します。よろしいですか？" } do %>
                          <%= image_tag("trash.svg", alt: "trash") %>
                          <span>削除</span>
                        <% end %>
                      </li>
                      <%# コピー %>
                      <li>
                        <%= form_with(model: route, url: "/routes/copy", method: :post) do |f| %>
                          <%= f.hidden_field :id %>
                          <%= button_tag(type: "submit", class: "icon-submit", data: { "turbo-confirm": "コピーします。よろしいですか？" } ) do %>
                            <%= image_tag("files.svg", alt: "files") %>
                            <span>コピー</span>
                          <% end %>
                        <% end %>
                      </li>
                    </ul>
                    <%# 機能メニューボタン %>
                    <div data-action="click->routes#openRouteMenu" data-routes-target="routeMenuBtn">
                      <%= link_to "javascript:void(0);", onclick: "return false;" do %>
                        <%= image_tag("chevron-down.svg", alt: "chevron-down", class: "edit-icon",  id: "route-menu-btn#{index}") %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <%# ルート名編集 %>
              <div class="route-edit hidden">
              <%= form_with(model: route) do |f| %>
                <div class="flex-container">
                  <%# ルート名 %>
                  <%= f.text_field :name, class: "text-edit" %>
                  <%# 確定 %>
                  <%= button_tag(type: "submit", class: "icon-submit") do %>
                    <%= image_tag("check.svg", alt: "check") %>
                  <% end %>
                  <%# キャンセル %>
                  <%= button_tag(type: "button", class: "icon-submit cancel", "data-action": "click->routes#clickEditRouteCancel") do %>
                    <%= image_tag("x.svg", alt: "x", id: "x") %>
                  <% end %>
                </div>
              <% end %>
              </div>
            </li>
          <% end %>
          </ul>
        </section>
        <%# オプション %>
        <section id="options-container">
          <%# オプションメニュー %>
          <ul id="options-menu" class="hidden" data-routes-target="optionsMenu">
            <%# セッションユーザーID設定 %>
            <% if @user.allow_session_user_id_setting %>
            <li>
              <%= form_with(model: @user) do |f| %>
                <div class="options-item">
                  <span class="option-item"><%= image_tag("person-up.svg", alt: "person-up") %></span>
                  <span class="option-item-margin"></span>
                  <span class="option-item" style="width: 100%;">
                    <%= f.text_field :changed_user_token, class: "form-control" %>
                  </span>
                  <span class="option-item">
                    <%= button_tag(type: "submit", class: "icon-submit", style: "margin-left: 5px;") do %>
                      <%= image_tag("check.svg", alt: "check") %>
                    <% end %>
                  </span>
                  <%= f.hidden_field :id %>
                </div>
              <% end %>
            </li>
            <% end %>
            <%# ホーム %>
            <%# link_to "/", onclick: "location.href='/'" do %>
            <%= link_to(root_path) do %>
              <li>
                <div class="options-item">
                  <span class="option-item"><%= image_tag("house.svg", alt: "house") %></span>
                  <span class="option-item-margin"></span>
                  <span class="option-item">ホーム</span>
                </div>
              </li>
            <% end %>
            <hr>
            <%# ユーザートークン %>
            <li>
              <div class="options-item">
                <span class="option-item">ID</span>
                <span class="option-item-margin"></span>
                <span class="option-item" style="width: 100%;"><%= @user.user_token %></span>
                <span class="option-item">
                  <%= button_tag(id: "copy-user-token", type: "submit", class: "icon-submit", style: "margin-left: 5px;", data: { "action": "click->routes#clickCopyUserToken", "user-token": @user.user_token }) do %>
                    <%= image_tag("clipboard.svg", alt: "clipboard", style: "width: 16px;") %>
                  <% end %>
                </span>
              </div>
            </li>
          </ul>
          <%# オプションボタン %>
          <div id="options-btn" data-action="click->routes#openOptions" data-routes-target="optionsBtn">
            <span id="logo-icon">
              <%= image_tag("icon.png") %>
            </span>
            <span id="app-name">
              ランニング・メモリアル
            </span>
            <span id="options-icon">
              <%= image_tag("three-dots.svg") %>
            </span>
          </div>
        </section>
      </div>
    </aside>
    <%# メイン %>
    <div id="map-contents" class="col-sm-10">
      <%# マップ %>
      <div id="map"></div>
      <div class="crosshair"></div>
      <%# マップ操作ボタン一覧 %>
      <div id="map-board" class="map-board-disabled">
        <div id="marker-container">
          <%# 保存 %>
          <div id="save-marker" class="btn map-marker map-marker-normal align-items-center" data-action="click->routes#saveMarker" disabled>
            <%= image_tag("save.svg", alt: "plus", class: "map-marker-img") %>
            <span class="map-marker-text">保存</span>
          </div>
          <%# 切替 %>
          <div id="switch-marker" class="btn map-marker map-marker-normal align-items-center" data-action="click->routes#switchMarker" disabled>
            <%= image_tag("arrow-repeat.svg", alt: "arrow-repeat", class: "map-marker-img") %>
            <span class="map-marker-text">切替</span>
          </div>
          <%# 追加 %>
          <div id="add-marker" class="btn map-marker align-items-center" data-action="click->routes#addMarker" disabled>
            <%= image_tag("plus-circle.svg", alt: "plus", class: "map-marker-img-large") %>
            <span class="map-marker-text">追加</span>
          </div>
          <%# ルート上追加 %>
          <div id="add-line-marker" class="btn map-marker align-items-center hidden" data-action="click->routes#addLineMarker" disabled>
            <%= image_tag("node-plus.svg", alt: "node-plus", class: "map-marker-img-large") %>
            <span class="map-marker-text">ルート上追加</span>
          </div>
          <%# 削除 %>
          <div id="remove-marker" class="btn map-marker align-items-center hidden" data-action="click->routes#removeMarker" disabled>
            <%= image_tag("dash-circle.svg", alt: "dash-circle", class: "map-marker-img-large") %>
            <span class="map-marker-text">削除</span>
          </div>
          <%# 1つ戻す %>
          <div id="undo-marker" class="btn map-marker map-marker-normal align-items-center" data-action="click->routes#undoMarker" disabled>
            <%= image_tag("backspace.svg", alt: "backspace", class: "map-marker-img") %>
            <span class="map-marker-text">1つ戻す</span>
          </div>
          <%# クリア %>
          <div id="clear-marker" class="btn map-marker map-marker-normal align-items-center" data-action="click->routes#clearMarker" disabled>
            <%= image_tag("eraser.svg", alt: "eraser", class: "map-marker-img") %>
            <span class="map-marker-text">クリア</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
