<!DOCTYPE html>
<html>
  <head>
    <title>ランニング・メモリアル</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%# Turboのキャッシュの無効化 %>
    <%# <meta name="turbo-cache-control" content="no-cache"> %>
    <%# プレビューだけ無効にする %>
    <meta name="turbo-cache-control" content="no-preview">
    <%# 強制リロード（window.location.reload()） %>
    <%# <meta name="turbo-visit-control" content="reload"> %>
    <meta charset="utf-8">

    <%= favicon_link_tag "/assets/icon.png" %>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icon_org.png">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%# Google Maps API %>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>"></script>
    <%# SortableJSのCDNリンク %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
  </head>

  <body>
    <%# ヘッダー %>
    <% if content_for?(:header_display) && yield(:header_display) %>
      <div class="title navbar navbar-default navbar-fixed-top">
        <div style="flex: 1;">
          <%= link_to "/", style: "text-decoration: none;" do %>
            <span id="logo-icon"><%= image_tag("icon_t.png") %></span>
            <span id="title-icon"><%= image_tag("title_t.png") %></span>
          <% end %>
        </div>

        <% if logged_in? %>
          <%= link_to "ログアウト", logout_path, data: { "turbo-method": :delete }, class: "btn btn-danger", style: "margin-right: 10px;" %>
        <% else %>
          <%= link_to "ログイン", login_path, class: "btn btn-primary", style: "margin-right: 10px;" %>
        <% end %>
      </div>
    <% end %>

    <%# コンテンツ %>
    <%= yield %>

    <%# 更新後メッセージ表示 %>
    <div id="flash">
      <div id="notification-popup" class="hidden">
        <span id="notification-message">
        </span>
      </div>
    </div>
    <input type="hidden" id="flash_message" name="flash_message" value="<% flash.each do |message_type, message| %><%= message %><% end %>">

    <%#= debug(params) if Rails.env.development? %>
  </body>
</html>
